{
  "singleQuote": true,
  "semi": false,
  "printWidth": 85,
  "checkIgnorePragma": true,
  "experimentalTernaries": true,
  "importOrder": [
    "^node:.+",
    "<THIRD_PARTY_MODULES>",
    "^(?!.*\\.\\w+(\\?.+)?$)\\.\\./",
    "^(?!.*\\.\\w+(\\?.+)?$)\\./",
    "\\.\\w+(\\?.+)?$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
